<tr class="t-row">
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= image_tag image_path product.image_url, :class => "img-preview" %></td>
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>