	<p id="notice"><%= notice %></p>

	<p id="show-image">
		<img src="<%= @product.image_url %>" height="200" width="100">
	</p>

	<p id="show-name">
	  <!-- Product Name -->
	  <%= @product.name %>
	</p>

	<p id="show-description">
	  <%= @product.description %>
	</p>

	<p id="show-info">
	  <strong>Color:</strong>
	  <%= @product.colour %>

	  <strong>Price:</strong>
	  <%= @product.price %>
	</p>
	<br>

	<p id="show-rating"> 
		Average Rating:
	</p> <br>
<div class="rated" id="show-rating" data-score="<%= @product.average_rating %>"></div>

	<p id="show-comment">
		<%= render 'new_comment' %>
	</p>
		<%= render 'comments' %>
	<p>
		<%= will_paginate @comments %>
	</p>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>