<<<<<<< HEAD
<div class="container">
  <p id="notice"><%= notice %></p>

  <strong style = "font-size: 2em">
    <%= @product.name %>
  </strong>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <p>Color: <%= @product.colour %></p>
     <strong>Description:</strong>
      <%= @product.description %>
    </div>
    <div class="col-xs12 col-md-6">
      <%= image_tag(@product.image_url, alt: "Image not found" ) %>
    </div>

  </div>
  <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to 'Edit', edit_product_path(@product) %></li>
      <li role="presentation"><%= link_to 'Back', products_path %></li>
    </ul>
  </div>
  <div class="row">
    <div>
      <%= render "new_comment" %> 
      <%= render "product_reviews" %>
    </div>
  </div>

</div>
=======
	<p id="notice"><%= notice %></p>

	<p id="show-image">
	<img src="<%= @product.image_url %>" height="300" width="400">
	</p>
<div id="show-format">
	<p id="show-name">
  <!-- Product Name -->
	  <%= @product.name %>
	</p><br>

	<p id="show-description">
	  <%= @product.description %>
	</p><br>

	<p id="show-info">
	  <strong>Color:</strong>
	  <%= @product.colour %>

	  <strong>Price:</strong>
	  <%= @product.price %>
	</p>
	<br>

	<p id="show-rating"> 
		Average Rating:
	</p> <br>
<div class="rated" id="show-rating" data-score="<%= @product.average_rating %>"></div>
<end>
	<p id="show-comment">
		<%= render 'new_comment' %>
	</p>
		<%= render 'comments' %>
	<p>
		<%= will_paginate @comments %>
	</p>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
>>>>>>> 2442c3f1abaffd1eb2c72e16d78c488d164d6e1f
