<div class="container">
  <div class="row">
    <p>
      <strong><%= @product.name %></strong>
    </p>
    <p>
      Description: <%= @product.description %>
    </p>
    <p>
      Color: <%= @product.colour %>
    </p>
    <p>
    <%= image_tag(@product.image_url, id: ("product_image"))%>
    </p>
    <p>
      Price: $<%= @product.price %>
    </p>
<br>
    <p>
      Average Rating: <div class="rated" data-score="<%= @product.average_rating %>">
    </div></p>

<br/>
<%= render 'new_comment' %>
<br/>
<%= render 'comments' %>
<p> <%= will_paginate @comments %></p>


<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @product.price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your Purchase"
          data-amount="<%= @product.price_in_cents %>"></script>
<% end %> 
</div>
</div>
</div>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>